@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  @apply relative tracking-[1px] sm:text-xl text-white ml-8 
}

.nav:after {
  @apply content-[''] bg-white h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.nav:hover::after {
  @apply sm:w-[100%]
}

.foot {
  @apply relative tracking-[1px]
}

.foot:after {
  @apply content-[''] bg-[#16446a] h-[2px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.foot:hover::after {
  @apply w-[100%]
}

.rev {
  @apply relative tracking-[1px]
}

.rev:after {
  @apply content-[''] bg-[#16446a] h-[2px] w-[100%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.rev:hover::after {
  @apply w-[0%]
}

.slider {
  @apply h-[90px] flex items-center justify-center text-center
}